<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Music Track</title>
<link rel="stylesheet" href="stylesheets/angular-input-stars.css" >
<script src="js/jquery.min.js"></script> 
<link rel="stylesheet" href="css/bootstrap.min.css" >
<link rel="stylesheet" href="css/bootstrap-theme.min.css" >
<script src="js/bootstrap.min.js" ></script>
<link href="css/font-awesome.min.css" rel="stylesheet">
<script src="js/angular.min.js"></script>
<script src="js/angular-resource.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="js/lodash.min.js"></script>
<script src="js/angularjs-dropdown-multiselect.min.js"></script>
<script src="js/angular-input-stars.js"></script>
<script src="js/app.js"></script>
<script src="js/track.js"></script>
<script src="js/addtrack.js"></script>
<script src="js/genre.js"></script>
<script src="js/addgenre.js"></script>


<!-- CACHE FILE: track.html -->
<script type="text/ng-template" id="track.html">
	<div class="panel panel-primary">
	  <div class="panel-body">	  
		<div class="row">
			<div class="col-lg-12 col-xs-12 left-inner-addon">
			 	<i class="icon-search"></i>
				<input type="search" class="form-control" placeholder="Search" ng-model="vm.SearchText" />
				<br />
			</div>
		</div>
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="track in vm.Tracks | filter: vm.SearchText" ng-click="vm.EditTrack(track)" >{{track.title}} [{{vm.GetGenreFromTrack(track)}}]
		  <input-stars max="5" icon-full="fa-star" icon-base="fa fa-fw" icon-empty="fa-star-o" ng-model="track.rating"></input-stars>
		  </li>
		</ul>
	  </div>
	  <div>
	  <a href="#/addtrack"><button type="button" class="btn btn-primary">Add Track</button></a>
	</div>	
</script>

<!-- CACHE FILE: addtrack.html -->
<script type="text/ng-template" id="addtrack.html">
	<div class="panel panel-primary">
	  <div class="panel-heading">Add New</div>
		  <form>
			  <div class="panel-body">
				<div class="row">
					<div class="col-lg-6 col-xs-12">
		                <label for="title">Target</label>
						<input type="text" class="form-control" id="title" placeholder="Title" ng-model="vm.Track.title">
					</div>
					<div class="col-lg-6 col-xs-12">
		                <label for="mySelect">Select Genres</label>
						<div ng-dropdown-multiselect="" options="vm.Genres" selected-model="vm.Track.genres" extra-settings="vm.MultiSelectSetting"></div>
					</div>
					<br /> <br />
					<div class="col-lg-6 col-xs-12">
						<br /> <br />
		                <label for="mySelect">Rating</label>
						<input-stars max="5" icon-full="fa-star" icon-base="fa fa-fw" icon-empty="fa-star-o" ng-model="vm.Track.rating"></input-stars>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" aria-label="Right Align" ng-click="vm.SaveTraks(vm.Track)">Submit</button>
			  </div>
		  </form>
	  <div>
	</div>	
</script>


<!-- CACHE FILE: track.html -->
<script type="text/ng-template" id="genre.html">
	<div class="panel panel-primary">
	  <div class="panel-body">  
		<div class="row">
			<div class="col-lg-12 col-xs-12 right-inner-addon">
			 	<i class="icon-search"></i>
				<input type="search" class="form-control" placeholder="Search" ng-model="vm.SearchText"></input>
				<br />
			</div>
		</div>
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="genre in vm.Genres | filter: vm.SearchText" ng-click="vm.EditGenre(genre)">{{genre.name}}</li>
		</ul>
	  </div>
	  <div>
	  <a href="#/addgenre"><button type="button" class="btn btn-primary">Add Genre</button></a>
	</div>	
</script>

<!-- CACHE FILE: addgenre.html -->
<script type="text/ng-template" id="addgenre.html">
	<div class="panel panel-primary">
		<form>
		  <div class="panel-body">
			<div class="row">
				<div class="col-lg-6 col-xs-12">
	                <label for="title">Genre</label>
					<input type="text" class="form-control" required id="title" placeholder="Name" ng-model="vm.Genre.name">
				</div>
			</div>
			<br />
			<input type="submit" class="btn btn-primary" ng-click="vm.SaveGenre(vm.Genre)" aria-label="Right Align" />
		  </div>
		  <div>
		 </form>
	</div>	
</script>




</head>
<body>
  <div class="container" ng-controller="MainCtrl">
	<ul class="nav nav-pills nav-justified">
		<li role="presentation" ng-class="isHomeActive" ng-click="changeMenu('home')"><a href="#/track">Music Tracks</a></li>
		<li role="presentation" ng-class="isGenreActive" ng-click="changeMenu('Genre')"><a href="#/genre">Track's Genre</a></li>
	</ul>	
	<div ng-view></div>
  </div>
</body>
</html>